@font-face {
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
}
@font-face {
    font-family: 'futura';
    src: url('Futura.ttf');
}
@font-face {
    font-family: 'ffff-font';
    src: url('MerriweatherSans-Light.ttf');
}
html {
    height: 100%
}
body {
    font-family: 'futura', sans-serif;
    height: 100%;
}

.obrazek {
			opacity: 0.85;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
		}
		.obrazek:hover {
			opacity: 1;
			cursor: pointer;
            width: 95%;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0px;
		}
.obrazek1 {
			opacity: 0.85;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 533px;
		}
		.obrazek1:hover {
			opacity: 1;
			cursor: pointer;
            width: 528px;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0px;
		}

.black-and-white {
    background-color: Black;
    color: White;
}

.video-fb   {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

h2.display-3 {
    font-family: ffff-font;
    padding-top: 1em;
    padding-bottom: 0.25em;;
    letter-spacing: 2px;
    font-weight: bold;
}

h3.display-5 {
    padding-bottom: 2em;;

}

h4 {
    padding-top: 2em;;
    padding-bottom: 1em;;
    font-size: 2.25em;
    font-weight: bold;
}

.laureat{
    font-size: 3em;
    font-weight: italic;
}
.laureat-1{
    font-size: 2em;
    font-weight: italic;
}

.bg-ffff {
    background-color: #CC0000;
    oportunity: 90%;
}
.ffff {
    color: Black;
}
.ffff-navbar .nav-item .nav-link {
    background-color: #CC0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 2px;
    oportunity: 90%;
}
.ffff-navbar .nav-item .nav-link:hover {
    color: #FF0099;
}
.ffff-navbar .nav-item.active .nav-link {
    background-color: Black;
    color: #FFCCFF;
}


.badge-ffff {
    background-color: #09181F;
}
.content {
}
.footer {
    border-top: 10px solid #CC0000;
    background-image: url("ffff-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: White;

    width: 100%;
    margin-top: 100px;

    right: 0;
    left: 0;

    padding-top: 15%;  /* wyliczone na podstawie wymiarów obrazu: wysokość / szerokość * 100 */
    padding-right: 1rem;
    padding-left: 1rem;
}
td {
    padding-top: 10px;
    padding-left: 15px;
    vertical-align: top;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.x-facebook:hover {
    color: #4665ae;
}
.x-youtube:hover {
    color: #ff001b;
}
.x-instagram:hover {
    color: White;
}
.content p {
    font-size: 1.4em;
    letter-spacing: 1px;
}
.ffff-text-color {
    color: #09181F;
}
td a {
    color: White;
}

.odstep {
  margin-left: 30%;
}
.ffff-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 2px;
}
.ffff-link:hover {
    color: #FF0099;
    font-weight: bold;
    text-decoration: none;
}
.bottom-margin-down {
    margin-bottom: 40%;
}
.ffff-odstep-up{
    margin-top: 0.5em;
}
.edycje{
    color: white;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: #FF0099;
    background-color: #CC0000;
}
.slide{
    display: none;
}


.slider-content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}
.slider-display-container{
    position:relative;
}
.slider-display-container:hover{
    display:block;
    display:inline-block
}
.slide-button{
    width: 100%;
    white-space:normal;
    text-align:left;
    padding:8px 16px;
    background-color:#ccc;
    color:#000;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.color-black{
    color: #FFFFFF;
    background-color: #000000;
}
.display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}
.x-partner{
    margin-top: 2em;
    margin bottom: 1em;
}

.text-important{
    font-weight: bold;
    color: #CC0000;
}
